<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
    <title>Document</title>
    <script>
    (function (window, document) {
        var setRem = function () {
            var baseSize   = 75,
                innerWidth = 
                    document.documentElement.clientWidth ||
                    document.documentElement.getBoundingClientRect().width ||
                    window.innerWidth,
                scale = innerWidth / 750;

            document.documentElement.style.fontSize = 
                baseSize * Math.min(scale, 2) + "px";
        };
        window.addEventListener(
            "orientationchange" in window ? "orientationchange": "resize",
            setRem,
            false
        );
        setRem();
    })(window, document);
    </script>
</head>
<body>
    this is a redirect
    and the server
</body>
</html>